version: '3.8'

services:
  # MongoDB service
  mongodb:
    image: mongo:7.0
    container_name: broadband-stats-mongodb
    restart: always
    environment:
      MONGO_INITDB_DATABASE: broadbanddb
    command: [ "mongod", "--logpath", "/var/log/mongodb/mongod.log", "--quiet", "--logappend" ]
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    networks:
      - broadband-stats-network
    healthcheck:
      test: [ "CMD", "mongosh", "--eval", "db.adminCommand('ping')" ]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s

volumes:
  mongodb_data:
    driver: local

networks:
  broadband-stats-network:
    driver: bridge
